# -*- mode: yaml -*-

replicaCount: 1

image:
  repository: docker.io/rbkmoney/holmes
  tag: 07f58e297c03bcd50dc4695ddbcfa4eb30c9928e
  pullPolicy: IfNotPresent

livenessProbe: null
readinessProbe: null

ciliumPolicies:
  - filters:
    - port: 8022
      type: TCP
    - port: 8023
      type: TCP
    name: kds
    namespace: {{ .Release.Namespace }}
  - filters:
    - port: 8080
      type: TCP
    name: payform
    namespace: {{ .Release.Namespace }}